[submodule "Submodules/WeTransfer-iOS-CI"]
	path = Submodules/WeTransfer-iOS-CI
url=https://github.com/WeTransfer/WeTransfer-iOS-CI.git
[submodule "Submodules/ios-snapshot-test-case"]
	path = Submodules/ios-snapshot-test-case
	url = https://github.com/uber/ios-snapshot-test-case/
	branch = master
